.inputBox {
    position: absolute;
    top: 452px;
    width: 90% !important;
    margin: auto !important;
    padding: 1rem !important;
    box-sizing: border-box !important;
    border: none;
}

.inputBox:focus {
    outline: none;
}
